@page "/"

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject IJSRuntime JS
@inject ProtectedLocalStorage storage



<div id="map"></div>

@code {
    private IJSObjectReference? module;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "/Components/Pages/Map.razor.js");

            await module.InvokeVoidAsync("map_init");

            StateHasChanged();
        }
    }
}
